
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    color: white;
}
.about_landing{
    display: flex;
    justify-content: center;
    position: relative;
    height: 640px;
    width: 100%;
}

.about_landing::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.35;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url('../img/about_us_landing.png');
}

.about_landing .about_content {
    max-width: 800px;
    position: absolute;
    top: 25%;
    color: white;
    text-align: center;
    /* background-color: red; */
    
}

.about_content h1{
    color: transparent;
    -webkit-text-stroke: 2px #FF7070;
    /* line-height: 100px; */
    font-size: 200px;
    font-family: Tw Cen MT;
    font-weight:bold;
    width: 100%;
}

.about_content h2{
    margin-bottom: 100px;
    font-size: 35px;
    font-family: 'Tangerine', cursive;
    font-weight:700;
    text-align: right;
    padding: 0px 100px;
}

.about_content p{
    padding: 0px 100px;
    text-align: justify;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight:200;
}

.intro_chef{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1300px;
}

.intro_chef img{
    width: 600px;
    height: auto;
}

.our_chefs{
    position: relative;
    width: 100%;
    height: 650px;
}

.our_chefs::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: cover;
    background-image: url('../img/chef_cooking.png');

}

.our_chefs h1{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 80%;
    /* left: 50%; */
    /* transform: translateY(-50%); */
    color: transparent;
    -webkit-text-stroke: 2px white;
    /* line-height: 100px; */
    font-size: 200px;
    font-family: Tw Cen MT;
    font-weight:bold;

}

.main_chefs{
    background-color: #100E0E;
    width: 100%;
    color: white;
    padding-top: 200px;
    
}

.main_chefs .chef_img{
    width: 500px;
    position: relative;
}

.chef_img img{
    width: 100%;
    height: auto;
}

.main_chefs .first_chef{
    padding:0px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    

}
.main_chefs .second_chef{
    margin-top: 200px;
    padding:0px 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}


.main_chefs .chef_detail{
    text-align: center;
    width: 500px;
    /* background: red; */
}

.chef_detail h2{
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    font-weight:700;
}
.chef_detail h1{
    font-size: 100px;
    font-family: 'Tw Cen MT';
    color: transparent;
    font-weight:bold;
}
.first_chef .chef_detail h1{

    -webkit-text-stroke: 2px #FFF1A8;
}
.second_chef .chef_detail h1{

    -webkit-text-stroke: 2px #82FF8A;
}



.chef_detail p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 0px 60px;
    margin-top: 80px;
    text-align: justify;
}
.chef_img h2{
    font-size: 50px;
    font-family: 'Tangerine', cursive;
    font-weight:700;
    color: white;
    position: absolute;
    bottom: -20px;
    right: -30px;
    /* transform: translate(-50%,-50%); */
}

.team{
    padding-top: 200px;
}

.team_heading{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
}
.team_heading h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 100px;
    font-weight: 100;
    max-width: 700px;
    /* background-color: red; */
    
}
.team_gallery {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    color: white;
    padding: 0px 10%;
    gap: 20px;
}

.team_member{
    /* background-color: blue; */
    width: 400px;
}

.team_gallery .img_holder{
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.team_gallery .img_holder img{
    width: 100%;
    height: auto;
    object-fit: cover;
    

}

.team_member h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin-top: 30px;
    
}
.team_member h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 30px;
}




.quote{
    text-align: center;
    padding: 200px 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.quote .quote_quote{
    font-family: 'Tangerine', cursive;
    font-weight:100;
    font-size: 55px;
    letter-spacing: 1px;
}
.quote h2{
    
    font-weight:normal;
    font-size: 30px;
    
}
.big_quote1,.big_quote2{
    font-size:300px;
    font-family: 'Tangerine', cursive;
    font-weight:700;
    color: white;
    line-height: 50px;
}
.big_quote1{
    display: block;
    text-align: right;
}
.big_quote2{
    display: block;
    text-align: left;
}

/* .......................................responsive................................... */

@media only screen and (max-width: 1500px) {
    .main_chefs .chef_img,.main_chefs .chef_detail{
        width: 400px;
    }

}
@media only screen and (max-width: 1220px) {
    .main_chefs .chef_img,.main_chefs .chef_detail{
        width: 500px;
    }

}

@media only screen and (max-width: 800px) {
    .about_content h1,.our_chefs h1{
        font-size: 150px;
    }
    
    .about_content h2{
        margin-bottom: 100px;
        font-size: 35px;
    }
    
    .about_content p{
        padding: 0px 80px;
        font-size: 20px;
    } 
    .intro_chef img{
        width: 550px;
    } 
    .chef_detail p{
        padding: 0px;
    } 
    .team_heading h1{
        font-size: 80px;     
    }
     
}
@media only screen and (max-width: 600px) {
    .about_content h1,.our_chefs h1{
        font-size: 100px;
    }
    
    .about_content h2{
        margin-bottom: 100px;
        font-size: 35px;
    }
    
    .about_content p{
        padding: 0px 60px;
        font-size: 20px;
    }  
    .intro_chef img{
        width: 390px;
    }
    .chef_detail h1{
        font-size: 60px;        
    }
    .chef_detail h2{
        font-size: 40px;
    }
    .chef_detail p{
        font-size: 15px;
        margin-top: 50px;
    }
    .chef_img h2{
        font-size: 60px;
    } 
    .team_heading h1{
        font-size: 60px;     
    }
    .team_member{
        width: 350px;
    }
    .team_gallery .img_holder{
        height: auto;
    }
}

@media only screen and (max-width: 400px) {
    .about_content h1,.our_chefs h1{
        font-size: 100px;
    }

    .our_chefs h1{
        top: 50%;
    }
    
    .about_content h2{
        margin-bottom: 100px;
        font-size: 35px;
        padding: 0px 100px;  
    }
    
    .about_content p{
        padding: 0px 40px;
        font-size: 18px;
    } 
    .intro_chef img{
        width: 300px;
    } 
    .quote .quote_quote{
        font-size: 50px;

    }
    .quote h2{
        font-size: 25px;
        
    }
    .big_quote1,.big_quote2{
        font-size:200px;
    } 

    .chef_detail h1{
        font-size: 50px;        
    }
    .chef_detail h2{
        font-size: 30px;
    }
    .chef_detail p{
        font-size: 15px;
        margin-top: 40px;
    }
    .chef_img h2{
        font-size: 30px;
    }
    .team_heading h1{
        font-size: 50px;     
    }
    .team_heading h1{
        font-size: 40px;     
    }
    .team_member h1{
        font-size: 30px;
    }
    .team_member h2{
        font-size: 20px;
    }

}