/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    
}
.blog_parallax{
    background-image: url("../img/blog.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blog_parallax h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Tw Cen MT;
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.blog_pin_post{
    width: 100%;
    padding: 0 10%;
    display: flex;
    
    margin-top:180px;
    margin-bottom: 200px;
    
}
.blog_pin_post img{
    width: 45%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.blog_pin_post_content{
    font-family: 'Montserrat', sans-serif;
    width: 55%;
    background-color: #100E0E;
    padding: 2% 2% 2% 6%;
    position: relative;
}
.pin_post_date{
    display: flex;
    justify-content: space-between;
    font-size: 14;
    font-weight:normal
}
.blog_pin_post_content h1{
    
    font-size: 40;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 50px;
    
}
.blog_pin_post_content > p{
    
    font-size: 20;
    line-height: 30px;
    font-weight: bold;
    font-weight: normal;
}
.blog_pin_post_content > button{
    position: absolute;
    bottom: 50px;
    right: 2%;
    font-family: Tw Cen MT;
    font-size: 20px;
    margin-top: 25px;
    color: white;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid white;
    padding: 15px 40px;  
}


.blog_article{
    padding: 0% 10%;
    font-family: 'Montserrat', sans-serif;
    
    

}

.article_heading{
    display: flex;
    justify-content: space-between;
    
    
    
}
.article_heading h1{
    font-size: 50px;
    font-weight: normal;
}
.article_heading label{
    font-size: 30px;

}
.article_heading form{
    display: flex;
    align-items: center;
}
.article_heading select{
    padding: 10px 20px;
    margin: 0 15px;
}
.article_heading input{
    padding: 10px 20px;
}

.article_main{
    margin-top: 80px;
    width: 100%;
    display: flex;
    position: relative;
    
}
.article_main img{
    width: 30%;
    height: 300px;
    object-fit: cover;
    
}
.article_content{
    width: 70%;
    height: 300px;
    background-color: #100E0E;
    padding: 2% 2% 2% 6%;
}
.article_content > h1{
    font-size: 40px;
    font-weight: bold; 
}
.article_content > p{
    font-size: 20px;
    font-weight:normal; 
    padding-top: 40px;
    padding-bottom: 30px;
    line-height: 30px;
}
.article_date{
    display: flex;
    justify-content:flex-start
}
.article_date > p{
    font-size: 14px;
    padding-top: 15px;
    padding-right: 100px;
}
.article_number{
    position: absolute;
    top:50%;
    left: -100px;
    font-size: 50px;
    font-family: Tw Cen MT;
    font-weight: normal;
    color:transparent;
    -webkit-text-stroke: 2px white;
}
.blog_pagination_main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.blog_pagination {
    display: inline-block;
    

  }
  
  .blog_pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .blog_pagination a.active {
    background-color: red;
    color: white;
  }
  
  .blog_pagination a:hover:not(.active) {background-color: red;}

/* ................................................filler.............................. */
.filler_main{
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    padding: 0 10%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.filler1{
    width: 45%;
    padding-bottom: 15px;
    border-bottom: 1px solid white;

}
.filler1>p{
    font-family: Tw Cen MT;
    font-size: 40px;
    text-align: justify;
    
}
.filler1>.item_content_info>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;

}
.filler2{
    width: 45%;

}
.filler2 p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 30px;

}
.filler2 p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;

}

.subscribe{
    
   width: 100%;
   padding: 0 10%;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 100px;
}
.subscribe p{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin-bottom: 80px;
    line-height: 75px;
}
.subscribe input{

    cursor: pointer;
    
    padding: 10px 90px ;
    border-radius: 30px;
    margin-right: 40px;
}
