/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    
}
.blog_parallax{
    background-image: url("../img/blog.jpg");
    min-height: 600px;
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.blog_parallax h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: Tw Cen MT;
    font-size: 200px;
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.blog_detail{
    display: flex;
    justify-content: center;


}

.blog_detail_main{
    width: 60%;
    text-align:center;
    background-color: #100E0E;
    padding:4%;
    
    font-family: 'Montserrat', sans-serif;
    
    
}
.blog_detail_main img{
    width: 100%;
    height: auto;
    object-fit: contain;
    margin: 70px 0px;
    
}
.blog_detail_main h1{
    font-size: 60px;
    font-weight: bold;
    text-align: left;
}
.blog_detail_main p{
    text-align:justify ;
    font-size: 20px;
    font-weight: normal;
    line-height: 42px;
    margin: 20px;
}

.blog_detail_date{
    display: flex;
    justify-content:flex-start
}
.blog_detail_date > p{
    font-size: 14px;
    padding-top: 15px;
    padding-right: 100px;
}

.recommend{
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 0 10%;
    margin-bottom: 100px;
    
}
.recommend>h1{
    font-size: 40px;
}

/* .......................carousel....................... */
.item{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-carousel{
    padding: 0 8%;
    
}

.item img{
    width: 100%;
    height: 285px;
    padding: 20px;
}
.item_content{
    width: 100%;
    padding: 0 20px;
    

}
.inner_item_div{
    width: 450px;
    height: 672px;
    background-color:#100E0E;
}

.item_content h2{
    color: #BC3F46;
    font-family: 'Tangerine', cursive;
    font-weight:normal;
    font-size: 50px;
    padding:0px 0px 22px 0px;
    text-align: left;
    
}

.item_content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align:justify;
}

.item_content_info{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
}
.item_content_info p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #BC3F46;

}


/* ................................................filler.............................. */
.filler_main{
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    padding: 0 10%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.filler1{
    width: 45%;
    padding-bottom: 15px;
    border-bottom: 1px solid white;

}
.filler1>p{
    font-family: Tw Cen MT;
    font-size: 40px;
    text-align: justify;
    
}
.filler1>.item_content_info>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;

}
.filler2{
    width: 45%;

}
.filler2 p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 30px;

}
.filler2 p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;

}

.subscribe{
    
   width: 100%;
   padding: 0 10%;
   text-align: center;
   padding-top: 100px;
   padding-bottom: 100px;
}
.subscribe p{
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin-bottom: 80px;
    line-height: 75px;
}
.subscribe input{

    cursor: pointer;
    
    padding: 10px 90px ;
    border-radius: 30px;
    margin-right: 40px;
}
