
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

h1,h2,h3,p{
    cursor: default;
}


.contact_heading  h1{
    font-size: 200px;
    font-family: 'Tw Cen MT';
    -webkit-text-stroke: 2px #BC3F46;
    color: transparent;
    font-weight:bold;
}
.contact_heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
}

.location{
    width: 100%;
    min-height: 1000px;
    /* background-color: antiquewhite; */
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    overflow: hidden;

}

.location .col1{
    position: relative;
    height: 1000px;
    width: 40%;
    /* background-color: antiquewhite; */
    /* padding: 0px 6px 0px 12px; */
}
.location .col2{
    display: flex;
    width: 55%;
    min-height: 1000px;
    /* background-color: aqua; */
    gap: 10px;
    flex-wrap: wrap;
}

.col1 img,.col2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* background-color: #BC3F46; */
}


.location .col2 .row1{
    display: flex;
    width: 100%;
    row-gap: 10px;
    justify-content: space-between;
    /* background-color: azure; */
    flex-wrap: wrap;
}
.location .col2 .row2{
    width: 100%;
    height: 490px;
    /* background-color: green; */
}


.col2 .row1 .img_container{
    position: relative;
    overflow: hidden;
    width: 49.4%;
    height: 500px;
    /* background-color: #BC3F46; */
}


.col2 .row1 .img_container:nth-child(3){
    width: 100%;
    height: 490px;
}

.card1 img,.card2 img,.card3 img,.card4 img{
    opacity: 0.4;
    animation-delay: 0;
    transition: 0.5s;
}

.card1:hover.card1 img,.card2:hover.card2 img,.card3:hover.card3 img,.card4:hover.card4 img{
    opacity: 1;

}

.card1:hover .local_detail,.card2:hover .local_detail,.card3:hover .local_detail,.card4:hover .local_detail{
    opacity: 1;

}




.local_detail{
    position: absolute;
    text-align: center;
    /* background-color: red; */
    z-index: 10;
    top: 50%;
    left: 50%;
    opacity:0;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.local_detail h1{
    font-size: 100px;
    font-family: 'Tw Cen MT';
    /* -webkit-text-stroke: 2px #BC3F46; */
    color: transparent;
    font-weight:bold;
}

.card1 .local_detail h1{
    -webkit-text-stroke: 2px #BC3F46 ;
}
.card2 .local_detail h1{
    -webkit-text-stroke: 2px #FFF1A8 ;
}
.card3 .local_detail h1{
    -webkit-text-stroke: 2px white ;
}
.card4 .local_detail h1{
    -webkit-text-stroke: 2px #82FF8A ;
}

.local_detail p{
    font-size: 20px;
    font-family: 'Tw Cen MT';
    color: white;
}

.quote{
    text-align: center;
    padding: 200px 15%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.quote .quote_quote{
    font-family: 'Tangerine', cursive;
    font-weight:100;
    font-size: 55px;
    letter-spacing: 1px;
}
.quote h2{
    
    font-weight:normal;
    font-size: 30px;
    
}
.big_quote1,.big_quote2{
    font-size:300px;
    font-family: 'Tangerine', cursive;
    font-weight:700;
    color: white;
    line-height: 50px;
}
.big_quote1{
    display: block;
    text-align: right;
}
.big_quote2{
    display: block;
    text-align: left;
}

/* ......................................responsive................................. */

@media only screen and (max-width: 1000px) {
    .location .col1{
        width: 100%;
        height: 500px;
    }
    .location .col2{
        width: 100%;
    }
    .reserve_right form :nth-child(1){
        width: 100%;
    }
    
}


@media only screen and (max-width: 800px) {
    .contact_heading h1{
        font-size: 150px;
    }

}

@media only screen and (max-width: 600px) {
    .contact_heading h1{
        font-size: 100px;
    }
    .col2 .row1{
        gap: 10px;
    }
    .col2 .row1 .img_container{
        width: 100%;
        

    }
    
}

@media only screen and (max-width: 400px) {
    .contact_heading h1{
        font-size: 100px;
    }
    
    
    .form>div{
        width: 100%;
    }
    .quote .quote_quote{
        font-size: 50px;

    }
    .quote h2{
        font-size: 25px;
        
    }
    .big_quote1,.big_quote2{
        font-size:200px;
    } 

}
