*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
header{
    /* background-color: red; */
    z-index: 1000;
    position: fixed;
    top: 0;
    
    color: white;
    font-size: 25px;
    
    width: 100%;
    padding: 60px 10%;
    font-family: 'Tw Cen MT';   
}
.top_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   
nav{
   display: flex;
   align-items: center;
}
.top_menu li{ 
    display: inline-block;
    list-style: none;
    padding: 0 15px;
   
    
}
.top_menu li a{
    text-decoration: none;
    color: white;
    font-family: 'Tw Cen MT';
   
}

.top_menu .logo_img{
    width: 80px;
    height: auto;
}
.logo{
    padding: 0px 30px;
    text-align: center;
}

.logo a{
    text-decoration: none;
    color:white;
}
.top_menu button{
    background-color:transparent;
    border: none;
    color: white;
}

#menu_icon{
    display: none;
}
#menu_close_icon{
    display: none;
   
}

/* ......................responsive_side_navbar......................... */
.responsive_menu{
    position: absolute;
    top: 100;
    right: 0;
    
    width: 100%;
    background-color: #100E0E;
    height: calc(100vh - 130px);
    overflow-y: auto;
    display: none;
}
.responsive_menu_container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right:10%;
}
.responsive_menu_element li{
    list-style: none;
   text-align: right;
    margin-top: 35px;

}


.responsive_menu_element li a{
    
    text-decoration: none;
    color: white;
    letter-spacing: 4px;
    font-size: 35px;
    display:inline-block ;
    padding: 10px;
   
}
.side_nav_icon{
    font-size: 30px;
    padding-left: 20px;
    
}
.responsive_menu_element li a:hover{
    background-color: white;
    color: black;
    transition:ease-in-out 0.5s;
    
}

@media only screen and (max-width: 1600px) {

     .top_menu{
         font-size: 21px;
    } 

    .top_menu .logo_img{
        width: 70px;
        height: auto;
    }
    .top_menu li{ 

        padding: 0 12px;

    }
   
   
   
}


@media only screen and (max-width: 1200px) {

    .top_menu{
        font-size: 16px;
    }

    .top_menu .logo_img{
        width: 60px;
        height: auto;
    }
    .top_menu li{ 

        padding: 0 10px;

    }
   
   

}

@media only screen and (max-width: 900px) {

    .top_menu{
        font-size:13px;
    }

    .top_menu .logo_img{
        width: 55px;
        height: auto;
    }
    .top_menu li{ 

        padding: 0 8px;
     }
   
    
}


@media only screen and (max-width: 768px) {

    .right_nav{
        display: none;
    }
    .left_nav{
        display: none;
    }
    .top_menu{
        font-size:30px;
    }

    #menu_icon{
        display: block;
        font-size: 40px;
    }
    #menu_close_icon{
        font-size: 40px;
    }

    .top_menu .logo_img{
        width: 80px;
        height: auto;
    }

}


@media only screen and (max-width: 600px) {

    .right_nav{
        display: none;
    }
    .left_nav{
        display: none;
    }
    .top_menu{
        font-size:25px;
    }

    #menu_icon{
        display: block;
        font-size: 35px;
    }
    #menu_close_icon{
        font-size: 35px;
    }

    .top_menu .logo_img{
        width: 70px;
        height: auto;
    }

}