@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.reserve_container{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin-top: 300px;
    color: white;
    padding: 0px 10%;
}

.reserve_left{ 
    padding-top: 100px; 
    position: relative;
    text-align: center;
    width: 600px;
    margin-bottom: 100px;
    /* background-color: red; */
}

.reserve_left h2{
    font-size: 50px;
    font-family: 'Tangerine', cursive;
}

.reserve_left h1{
    font-size: 100px;
    font-family: 'Tw Cen MT';
    -webkit-text-stroke: 2px #BC3F46;
    color: transparent;
    font-weight:bold;
}

.reserve_left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    /* background-color: antiquewhite; */

}

.reserve_left .row1 p{
    margin: 50px 0px;
    text-align: center;
    color: rgb(129, 129, 129);
    /* padding:0px 10%; */
    /* font-weight: 400; */
    /* background-color: #BC3F46; */
}

.reserve_left .row2{
    display: flex;
    justify-content: space-around;
}
.reserve_left .row2 img{
    width: 110px;
    height: auto;
}

.reserve_left .row2 h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.reserve_left .row2 p{
    color:#BC3F46;
}

.card{
    width: 32%;
    background-color: #100E0E;
    padding: 5px;
}

.reserve_img{
    width: 100%;
    height: 300px;
    position: absolute;
    top: -50px;
    z-index: -1;
    opacity: 40%;
}
.reserve_img img{
    width: auto;
    height: 100%;
}



.reserve_right{
    padding:100px 50px 50px 50px;
    width: 600px;
    background-color: #100E0E;
}

.reserve_right h1{
    font-family: 'Tw Cen MT';
    font-size: 40px;
    text-align: left;
    margin-bottom: 50px;
}

.reserve_right form{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reserve_right form label{
    text-align: left;
    font-size: 20px;

}
.reserve_right form input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C13838;
    color: white;
    color-scheme: dark;
    font-size: 20px;
    height: 50px;
    margin-bottom: 40px;
}
.reserve_right form select{
    width: 100%;
    background-color: #100E0E;
    border: none;
    border-bottom: 2px solid #C13838;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-bottom: 40px;
    
}

#summit{
    width: 100px;
    border: 2px solid #C13838;
}

.reserve_right form div:nth-child(1){
    width: 45%;
    
}
.reserve_right form div:nth-child(2){
    width: 45%;
}
.reserve_right form div:nth-child(3){
    width: 100%;
}
.reserve_right form div:nth-child(4){
    width: 45%;
}
.reserve_right form div:nth-child(5){
    width: 45%;
}
.reserve_right form div:nth-child(6){
    width: 100%;
}
.reserve_right form div:nth-child(7){
    width: 100%;
}

/* ................................................filler.............................. */
.filler_main{
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    padding: 0 10%;
    padding-top: 200px;
    padding-bottom: 200px;
}

.filler1{
    width: 45%;
    padding-bottom: 15px;
    border-bottom: 1px solid white;

}
.filler1>p{
    font-family: Tw Cen MT;
    font-size: 40px;
    text-align: justify;
    
}
.filler1>.item_content_info>p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;

}
.filler2{
    width: 45%;

}
.filler2 p:nth-child(1){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 30px;

}
.filler2 p:nth-child(2){
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: italic;
    line-height: 30px;

}

/* ..............................responsive.............................. */


@media only screen and (max-width: 1500px) { 
    .reserve_left h1{
        font-size: 80px;
    }  
}

@media only screen and (max-width: 1300px) {
    .reserve_left{ 
        width: 500px;
    }
}
@media only screen and (max-width: 1150px) {
    .reserve_left h2{
        font-size: 40px;
    }
    
    .reserve_left h1{
        font-size: 75px;
    }
    
    .reserve_left p{
        font-size: 15px;
    
    }  
    .reserve_img{
        height: 250px;
        top: 0;
        z-index: -1;

    } 
    .reserve_left .row2 img{
        width: 90px;
        height: auto;
    }
    
    .reserve_left .row2 h2{
        font-size: 25px;
        margin-bottom: 15px;
    }

    .reserve_right h1{
        font-size: 30px;
    }

    .reserve_right form label{
        font-size: 15px;
    }

    .reserve_right form input,.reserve_right form select{
        font-size: 15px;
        height: 40px;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 1000px) { 
    .reserve_left h1{
        font-size: 80px;
    }  
    .reserve_container{
        flex-wrap: wrap;
        margin-top: 100px;
    }
}

@media only screen and (max-width: 475px) { 
    .reserve_left{ 
        width: 100%;
    }
    .reserve_img {
        top:50px;
    }
    .reserve_img img{
        width: 100%;
        height: auto;
    }
    .reserve_left h1{
        font-size: 50px;
    }  
    .reserve_container{
        flex-wrap: wrap;
    }
    .reserve_left .row2{
        display: block;
    }
    .card{
        width: 100%;
        clear: both;
        min-height: 100px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    .card_content{
        text-align: left;
    }
    .reserve_right form div:nth-child(1){
        width: 100%;
        
    }
    .reserve_right form div:nth-child(2){
        width: 100%;
    }
    .reserve_right form div:nth-child(4){
        width: 100%;
    }
    .reserve_right form div:nth-child(5){
        width: 100%;
    }
}


