@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,h2,h3,p{
    cursor: default;
}
.shop_landing{
    display: flex;
    justify-content: center;
    position: relative;
    height: 640px;
    width: 100%;
}

.shop_landing::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 150%;
    background-size: cover;
    background-image: url('../img/shop.png');
}

.shop_landing .shop_heading {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    font-size: 200px;
    font-family: 'Tw Cen MT';
    -webkit-text-stroke: 2px white;
    color: transparent;
    font-weight:bold;
    
}

.shop_landing >div{
    display: flex;
    justify-content: center;
    position: relative;
    width:100%;
    height:100%;
    /* background:red; */
}

.shop_nav{
    background-color: #100E0E;
    margin: 40px 20px 20px 20px;
    padding: 30px 10%;
}

.shop_nav .nav_head h1{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.shop_nav .nav_filter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav_filter form{
    width: 30%;
}
.nav_filter input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C13838;
    color: white;
    color-scheme: dark;
    font-size: 20px;
    height: 50px;
    margin-bottom: 40px;
}

.nav_filter form select{
    width: 100%;
    background-color: #100E0E;
    border: none;
    border-bottom: 2px solid #C13838;
    color: white;
    font-size: 20px;
    height: 50px;
    margin-bottom: 40px;
}

.shop{
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}


.shop_card{
    width: 550px;
    margin: 20px;
}
.shop_card img{
    width: 100%;
    height: 550px;
    object-fit: cover;

}

.shop_card h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    position: relative;
    color: white;
    width: 100%;
    line-height: 40px;
}
.shop_card h1 span{
    position: absolute;
    right: 0;
}

.shop_card hr{
    border-color: #C13838;
}
.shop_card p{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight:300;
    line-height: 40px;
}
.more{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    height: 80px;
    margin-bottom: 100px;
}

.more button{
    background-color: black;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
    font-weight:100;
    cursor: pointer;
}

.shop .shop_card:nth-child(7),.shop .shop_card:nth-child(8),.shop .shop_card:nth-child(9){
    display: none;
}

/* .........................................responsive............................................... */

@media only screen and (max-width: 640px) {
    .nav_filter input{
        font-size: 15px;
    }
    
    .nav_filter form select{
        font-size: 15px;

    }
}

@media only screen and (max-device-width: 640px) {
    .shop_landing{
        display: flex;
        justify-content: center;
        position: relative;
        height: 100vh;
        width: 100%;
    }
    .nav_filter input{
        font-size: 15px;
    }
    
    .nav_filter form select{
        font-size: 15px;

    }
}


@media only screen and (max-width: 550px) {
    .nav_filter input{
        font-size: 15px;
    }
    
    .nav_filter form select{
        font-size: 15px;

    }
    .shop_card{
        width: 500px;
        margin: 20px 0px;
    }
    .shop_card img{
        height: 500px;

    }
    
}

@media only screen and (max-width: 500px) {
    .shop_landing .shop_heading {
        font-size: 150px;
    }
    .shop_card{
        width: 400px;

    }
    .shop_card img{
        height: 400px;

    }
    .nav_filter form{
        width: 100%;
    }
}
@media only screen and (max-width: 450px) {
    .shop_landing .shop_heading {
        font-size: 100px;
    }
    .shop_card{
        width: 300px;
    }
    .shop_card img{
        height: 300px;

    }
    .nav_filter input{
        font-size: 20px;
    }
    
    .nav_filter form select{
        font-size: 20px;

    }
}
@media only screen and (max-device-width: 450px) {
    .shop_landing{
        display: flex;
        justify-content: center;
        position: relative;
        height: 100vh;
        width: 100%;
    }    
    .shop_landing .shop_heading {
        font-size: 100px;
    }
    .shop_card{
        width: 300px;
    }
    .shop_card img{
        height: 300px;

    }

    .nav_filter input{
        font-size: 20px;
    }
    
    .nav_filter form select{
        font-size: 20px;

    }
}

